<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/star/424CA51559C2252BB245D6D2406A31E77D037DA5E7C12D3B1F19CB11E72699D4/scale?width=1200&aspectRatio=1.78&format=jpeg"
      alt=""
      width="600px"
      height="200px"
      srcset="">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Titulo notícia</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet. Qui maiores distinctio sit enim Quis 33 repellat incidunt qui laudantium quis. Ut explicabo nesciunt quo facilis molestiae eum illo iure aut velit perspiciatis est architecto necessitatibus cum excepturi delectus sed eius quia? Qui commodi officia At doloremque ratione id animi rerum a excepturi excepturi est vero omnis aut unde rerum et dolor facere. Et blanditiis quod sit expedita ducimus eos quaerat nihil ea cupiditate ullam quo quod minima ut molestiae quaerat.
      </a>
    </p>
  </div>
</div>
